.rating {
  display: flex;
  padding: 0px;
  margin-left: 20px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-size: 40px;
  font-style: italic;
  color: #5e1643;
}
#product_description {
  font-size: 15px;
  color: #918594;
}
.rating__users {
  padding-left: 0px;
  margin-left: 300px;
}

.rating__users--review1,
.rating__users--review2,
.rating__users--review3 {
  border: 1px solid #f5f1f6;
  border-radius: 5%;
  background-color: #f7edf9;
  padding: 1px;

  margin: 5px;
  color: #681549;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  margin-left: 100px;
  align-items: center;
  gap: 10px;
}

.rating__users--review2 {
  position: relative;
  top: 2px;
  left: 20px;
}
.rating__users--review3 {
  position: relative;
  top: 2px;
  left: 40px;
}
.checked {
  color: orange;
}

.buyers {
  display: flex;
  padding-top: 0px;
  margin-left: 10px;
}

h4 {
  color: #ddd2f5;
}
#header1 {
  display: flex;
  margin: 1px;
}
.buyers__person1 {
  margin-bottom: 35px;
  padding-bottom: 15px;
}

.buyers__person2 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.buyers__person3 {
  margin-top: 35px;
}
.buyers__person1,
.buyers__person2,
.buyers__person3 {
  width: 33%;
  border: 1px solid rgb(177, 15, 195);
  margin-left: 25px;
  margin-right: 10px;
  padding: 25px;
  border-radius: 10px;
  background-color: #40122f;
  color: white;
}
.buyers__person1--review,
.buyers__person2--review,
.buyers__person3--review {
  color: #fdfcff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  width: 50px;
  height: 50px;
  border-color: black;
  border-radius: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(196, 196, 243);
  }
  .rating__products {
    font-size: small;
    text-align: center;
    margin-right: 45px;
  }
  .rating {
    display: flex;
    flex-direction: column;
  }

  .rating__users {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rating__users--review1 {
    margin-right: 470px;
    padding: 0px;
    font-size: 10px;
    width: 300px;
  }
  .rating__users--review2 {
    margin-right: 510px;
    width: 300px;
    font-size: 10px;
  }
  .rating__users--review3 {
    margin-right: 550px;
    font-size: 10px;
    width: 300px;
  }
  .buyers {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 0px;
  }
  .buyers__person1 {
    margin-top: 25px;
    width: 300px;
  }
  .buyers__person2 {
    margin-top: 25px;
    width: 300px;
  }

  .buyers__person3 {
    margin-top: 25px;
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .rating__users {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rating__users--review1 {
    margin-right: 420px;
    padding: 0px;
    font-size: 10px;
    width: 300px;
  }
  .rating__users--review2 {
    margin-right: 460px;
    width: 300px;
    font-size: 10px;
  }
  .rating__users--review3 {
    margin-right: 500px;
    font-size: 10px;
    width: 300px;
  }
  .buyers__person1 {
    margin-top: 25px;
    width: 200px;
  }
  .buyers__person2 {
    margin-top: 25px;
    width: 200px;
  }

  .buyers__person3 {
    margin-top: 25px;
    width: 200px;
  }
}

