.logo {
  background-color: rgb(68, 66, 66);
  height: 30px;
  text-align: center;
}

ul > li {
  list-style: none;
  color: white;
  font-size: 15px;
  line-height: 1.2105263158;
  font-weight: 100;
  letter-spacing: 0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  opacity: 70%;
}
ul {
  display: flex;
  flex-direction: row;
}
.apple__logo {
  background-color: black;
  color: white;
  text-align: center;
}
.apple__pro {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
}
.apple__iphone14 {
  text-align: center;
  color: black;
  font-size: 20px;
}
a,
.link {
  color: #06c;
  letter-spacing: inherit;
}
.iphone__products {
  display: flex;
  justify-content: space-between;
}
.iphone__products--watch {
  text-align: center;
  color: white;
  width: 680px;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  background-color: black;
  font-style: normal;
}
.iphone__products--ipad {
  text-align: center;
  width: 630px;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
}
.iphone__products2 {
  display: flex;
  justify-content: space-between;
}
.iphone__products2--mac {
  text-align: center;
  width: 680px;
  color: #fff;
  color: white;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: black;
  font-style: normal;
}
.iphone__products2--colorwatch {
  text-align: center;
  margin-right: 100px;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 31);
  font-style: normal;
  object-position: center;
}
.iphone__products3 {
  display: flex;
  justify-content: space-between;
}
.iphone__products3--ipadpro {
  text-align: center;
  height: 540px;
  width: 680px;
  background-color: black;
  color: white;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
}
.iphone__products3--ipod {
  text-align: center;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: black;
  color: white;
  font-style: normal;
}
footer {
  font-size: 13px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  opacity: 70%;
}
#list1 {
  color: black;
  list-style-type: none;
}
ol {
  list-style-type: none;
}
.apple__footer {
  display: flex;
  flex-direction: column;
}
